@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
.container {
  /* outline: 1px solid red; */
  width: 100%;
  max-width: 100%;
}
.top {
  background-color: #1f2937;
  border-bottom: 1px solid #e5e5e5;
  height: 30em;

  display: flex;
  flex-direction: column;
}
nav {
  /* outline: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.nav-logo {
  /* outline: 1px solid red; */
  padding: 0.5em;
  font-size: 24px;
  color: #F9FAF8;
}
.nav-links {
  /* outline: 1px solid red; */
  padding: 0.5em;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
.nav-links a {
  /* outline: 1px solid red; */
  padding: .5em;
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}
.top-inner-container {
  /* outline: 1px solid red; */
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%
}
.top-left {
  /* outline: 1px solid blue; */

  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-left button {
  padding: .5em;
  border: none;
  color: #fff;
  background-color: #3882f6;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}
.top-right {
  /* outline: 1px solid red; */

  width: 20%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.top-right img {
  max-height: 80%;
  max-width: 80%;
  min-width: none;
  min-height: none;
}
.subtext {
  color: #e5e7eb;
  font-size: 18px;
}
.main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}
.first {
  /* outline: 1px solid red; */
  height: 35em;

  display: flex;
  flex-direction: column;
}
.first-inner-container {
  /* outline: 1px solid blue; */

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}
.random-title {
  /* outline: 1px solid red; */
  font-size: 36px;
  color: #1f2937;
  font-weight: bold;
  margin: 2em;
  text-align: center;
}
.boxes-container {
  /* outline: 1px solid red; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
.box-items {
  /* outline: 1px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 185px;
  gap: .5em;
}
.box-subtext {
  /* outline: 1px solid purple; */

  font-size: 12px;
  color: rgb(56, 56, 56);
  width: 100%;
  text-align: center;
}
.box {
  background-color: #fff;
  border: 3px solid #3882f6;
  border-radius: 5px;
  padding: 1em;
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 1068px) {
  .top-right img {
    max-height: 100%;
    max-width: 100%;
    min-width: none;
    min-height: none;
  }
  .top-inner-container {
    flex-direction: column;
    gap: 1em;
  }
  .top-left {
    width: 100%;
    text-align: center;
  }
  .top-left button {
    width: 100%;
  }
  .top-right {
    width: 100%;
  }
  .top {
    height: auto;
    padding: 1em;
  }

  .first {
    height: auto;
    padding: 1em;
  }
}
@media screen and (max-width: 568px){
  .nav-links {
    display: none;
  }
  .nav-logo {
    width: 100%;
    text-align: center;
  }
}